node_modules
**/credentials.json

# Ignorar todos los archivos .pyc y .pickle en cualquier subdirectorio
**/*.pyc
**/*.pickle

# Ignorar otros archivos y directorios comunes
__pycache__/
*.log
*.tmp
*.swp
.DS_Store
.env